// @import "variables";

.blog-wrap {
  .blog-img {
    position: relative;
    overflow: hidden;
    img {
      width: 100%;
      transform: scale(1);
      transition: all 0.5s ease 0s;
    }
    .blog-category-names {
      position: absolute;
      top: 10px;
      left: 10px;
      span {
        display: inline-block;
        line-height: 1;
        color: $white;
        font-size: 13px;
        font-weight: 500;
        padding: 2px 10px 5px;
        margin-right: 10px;
        &.pink {
          background-color: $theme-pink;
        }
        &.purple {
          background-color: $theme-color;
        }
        &.red {
          background-color: $theme-red;
        }

        &::last-child {
          margin-right: 0;
        }
      }
      &--style2 {
        right: 10px;
        left: auto;
      }
    }
  }
  .blog-content-wrap {
    text-align: center;
    .blog-content {
      display: inline-block;
      background-color: $white;
      padding: 14px 44px;
      margin: -64px 0 0;
      z-index: 99;
      position: relative;
      width: 320px;
      max-width: 100%;
      @media #{$lg-layout} {
        padding: 14px 30px;
        margin: -50px 0 0;
      }
      @media #{$xs-layout} {
        padding: 14px 30px;
        margin: -50px 0 0;
      }
      @media #{$sm-layout} {
        padding: 14px 15px;
      }
      h3 {
        font-size: 20px;
        font-weight: 500;
        line-height: 30px;
        margin: 0 0 5px;
        @media #{$sm-layout} {
          font-size: 18px;
          line-height: 27px;
        }
      }
      span {
        color: $theme-gray;
        font-style: italic;
        a {
          color: $theme-gray;
          &:hover {
            color: $theme-color;
          }
        }
      }

      &--style2 {
        background: $theme-white;
        width: 100%;
        min-height: 150px;
        padding: 21px 15px 30px 15px;
        margin-top: 10px;
      }
    }
  }
}

/* blog page */

.blog-wrap-2 {
  box-shadow: 0 4px 10px $blog-gray-shadow;

  overflow: hidden;
  .blog-img-2 {
    overflow: hidden;
    position: relative;

    img {
      width: 100%;
      max-height: 60vh;
      transition: all 0.5s ease 0s;
      object-fit: cover;
      opacity: 1;

      &:hover {
        transform: scale(1.1);
        opacity: 0.9;
      }
    }

    .video-icon {
      left: 0;
      position: absolute;
      right: 0;
      text-align: center;
      top: 50%;
      transform: translateY(-50%);
      a {
        background-color: $bg-red;
        border-radius: 50px;
        color: $white;
        display: inline-block;
        font-size: 25px;
        height: 60px;
        line-height: 61px;
        width: 60px;
        &:hover {
          background-color: $theme-color;
        }
      }
    }
  }
  .blog-content-2 {
    padding: 25px 30px 34px;
    @media #{$lg-layout} {
      padding: 25px 20px 34px;
    }
    @media #{$md-layout} {
      padding: 25px 20px 34px;
    }
    @media #{$xs-layout} {
      padding: 20px 15px 29px;
    }
    .blog-meta-2 {
      display: flex;
      ul {
        li {
          color: $meta-dark-gray;
          display: inline-block;
          font-size: 14px;
          letter-spacing: 1px;
          list-style: outside none none;
          margin: 0 17px 0 0;
          position: relative;
          text-transform: uppercase;
          display: inline-block;
          line-height: 1;
          &::before {
            background-color: $meta-gray;
            content: "";
            height: 2px;
            position: absolute;
            right: -13px;
            top: 6px;
            transition: all 0.4s ease 0s;
            width: 5px;
          }
          &:last-child::before {
            display: none;
          }
          a {
            color: $meta-gray;
            &:hover {
              color: $theme-color;
            }
          }
        }
      }
    }
    h4 {
      font-size: 22px;
      font-weight: 500;
      margin: 10px 0 20px;
      color: $meta-dark-gray;
      @media #{$lg-layout} {
        font-size: 19px;
      }
      @media #{$md-layout} {
        font-size: 19px;
      }
      @media #{$xs-layout} {
        font-size: 17px;
        margin: 10px 0 12px;
      }
      a {
        color: $meta-dark-gray;
        &:hover {
          color: $theme-color;
        }
      }
    }

    .post-meta {
      color: rgb(91, 91, 91);
      &-icon {
        &::after {
          content: "\00a0";
          display: inline-block;
        }
      }

      &-header,
      &-element {
        display: flex;
        display: flex;
        align-items: center;
      }

      &::after {
        display: block;
        content: "";
        height: 1px;
        width: 100%;
        z-index: 9;
        background-color: $bg-dark-gray;
      }

      .entry-title {
        a {
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    .entry-content {
      &-description {
        text-align: justify;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
      &-readmore {
        background: linear-gradient($theme-color, $theme-color-light);
        padding: 10px 30px;
        border-radius: 50px;
        color: $white;
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}

.blog-sidebar {
  // margin: 0px 15px;
  &-single {
    display: flex;
    align-items: center;
    transition: all 0.1s ease-in-out;
    padding-left: 0;
    &-img {
      width: 30%;
      height: 100px;
      overflow: hidden;
      display: inline-block;
      // border-radius: 8px;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        filter: saturate(0.6);
        transition: all 0.4s ease-in-out;
      }

      &:hover {
        img {
          transform: scale(1.1);
          filter: saturate(1);
        }
      }
    }
    &-content {
      display: inline-block;
      width: 60%;
      height: 100%;
      margin-left: 10px;
    }
  }

  &-title {
    &::after {
      content: "";
      display: block;
      width: 15%;
      // margin-left: 1%;
      height: 3px;
      border-radius: 10px;
      background-color: $theme-color;
    }
  }

  &-categories {
    &-title {
      margin-bottom: 0;
    }

    &-items {
      margin: 0;
      padding: 5px 0px;

      & > .item {
        a {
          &::before {
            background: none 0px 0px repeat scroll rgb(249, 207, 0);
            border-radius: 50%;
            display: block;
            content: "";
            height: 7px;
            left: 8px;
            opacity: 0;
            position: absolute;
            top: 20px;
            transition: all 0.3s ease-in-out 0s;
            width: 7px;
            z-index: 999;
          }

          &:hover {
            text-decoration: underline;
            &::before {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

.nav-style-4.owl-carousel {
  .owl-nav {
    div {
      color: $white;
      display: inline-block;
      font-size: 20px;
      left: 0px;
      opacity: 0;
      visibility: hidden;
      position: absolute;
      text-align: center;
      top: 50%;
      transform: translateY(-50%);
      transition: all 0.3s ease 0s;
      height: 35px;
      width: 35px;
      line-height: 35px;
      background-color: $theme-color;
      @media #{$md-layout} {
        font-size: 30px;
      }
      @media #{$xs-layout} {
        font-size: 30px;
      }
      &:hover {
        color: $white;
        background-color: $meta-dark-gray;
      }
      &.owl-next {
        left: auto;
        right: 0px;
      }
    }
  }
}
.blog-wrap-2 {
  &:hover .nav-style-4.owl-carousel .owl-nav div {
    opacity: 1;
    visibility: visible;
  }
}

/*-------- 7. Blog style  ----------*/

.Blog-area {
  @media #{$lg-layout} {
    .ml-20 {
      margin-left: 0;
    }
    .mr-20 {
      margin-right: 0;
    }
  }
  @media #{$md-layout} {
    .ml-20 {
      margin-left: 0;
    }
    .mr-20 {
      margin-right: 0;
    }
  }
  @media #{$xs-layout} {
    .ml-20 {
      margin-left: 0;
    }
    .mr-20 {
      margin-right: 0;
    }
    .pro-pagination-style.mt-20 {
      margin-top: 0;
    }
  }
}
.Blog-area {
  @media #{$xs-layout} {
    &.pb-100 {
      padding-bottom: 45px;
    }
  }
  &.blog-no-sidebar {
    .blog-content-2 {
      h4 {
        font-size: 20px;
        @media #{$xs-layout} {
          font-size: 17px;
        }
        @media #{$sm-layout} {
          font-size: 20px;
        }
      }
      .blog-share-comment {
        .blog-share {
          .share-social {
            @media #{$lg-layout} {
              margin-top: 4px;
            }
            ul {
              li {
                @media #{$lg-layout} {
                  margin-right: 3px;
                }
                a {
                  @media #{$lg-layout} {
                    font-size: 12px;
                    height: 25px;
                    line-height: 23px;
                    width: 25px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

//Blog Post

.blog-post {
  &-title {
    h2 {
      // font-weight: 500;
      font-size: 2.2rem;
      letter-spacing: 1px;

      &::after {
        content: "";
        display: block;
        width: 10%;
        height: 3px;
        border-radius: 10px;
        background-color: $theme-color;
      }
    }
  }

  &-meta {
    padding: 0 10px;
    color: rgb(70, 70, 70);
    &-icon {
      &::after {
        content: "\00a0";
        display: inline-block;
      }
    }

    &-header,
    &-element {
      display: flex;
      display: flex;
      align-items: center;
    }
  }

  .header-post {
    &::after {
      content: "";
      width: 100%;
      height: 1px;
      background-color: #c8c6c6;
      display: block;
      margin-right: 10px;
    }
  }

  &-content {
    &-img {
      img {
        clip-path: polygon(0 0, 100% 0, 100% 90%, 94% 100%, 0 100%, 0% 50%);
        width: 100%;
        max-height: 60vh;
        object-fit: cover;
        // height: 100%;
      }
    }

    &-description {
      p {
        text-align: justify;
        font-size: 1rem;
      }
    }
  }
}

.blog-categories-item {
  display: inline-block;
}
