// Font Family
$poppins: "Poppins", sans-serif;
$abrilfatface: "Abril Fatface", cursive;
$cormorantgaramond: "Cormorant Garamond";

// text Colors ---------------

$white: #fff;
$black: #000;
$grey: #f6f7f8;
$red: #f6f7f8;
$green: #f6f7f8;
$orange: #e64a19;

// bg Colors ---------------

$bg-white: #fff;
$bg-black: #000;
$bg-grey: #f6f6f8;
$bg-purple: #f0e0ff;
$bg-red: #ff0000;
$bg-dark-gray: rgb(122, 122, 122);

// Heading Color
$heading-color: #000;

// Theme Color
$theme-color: #f9cf00;
$theme-red: #c61a32;
$theme-pink: #fa6bff;
$theme-gray: #666;
$theme-white: #f6f3f3;

// Responsive Variables
$xx-layout: "only screen and (min-width: 1366px) and (max-width: 1600px)";
$xl-layout: "only screen and (min-width: 1200px) and (max-width: 1365px)";
$lg-layout: "only screen and (min-width: 992px) and (max-width: 1199px)";
$md-layout: "only screen and (min-width: 768px) and (max-width: 991px)";
$xs-layout: "only screen and (max-width: 767px)";
$sm-layout: "only screen and (min-width: 576px) and (max-width: 767px)";
$xxs-layout: "only screen and (min-width: 320px) and (max-width: 479px)";

//Landing colors
$black-shadow: rgba(0, 0, 0, 0.486);
$black-shadow-loading: rgb(33, 33, 33);
$black-box-loading: rgba(15, 15, 15, 0.5);
$black-shadow-modal: rgba(2, 2, 2, 0.226);

//Blog colors
$meta-gray: #555;
$meta-dark-gray: #333;
$blog-gray-shadow: rgba(85, 85, 85, 0.2);
$theme-color-light: rgba(245, 206, 10, 0.7);

//Collections colors
$bg-collection-name: rgba(0, 0, 0, 0.6);
